<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterMark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A64FDE671C83626E003F85DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64FDE801C83626E003F85DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64FDE8B1C83626E003F85DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
